footer {
    display: flex;
    justify-content: space-between;
    margin: 0 auto;
    max-width: 960px;
    padding-bottom: 2rem;
    a {
        margin-right: 0.5em;
    }
    svg {
        width: 1em;
    }
}