nav {
  text-align: center;
  margin: 0 auto;
  max-width: 60vw;
  ul {
    list-style: none;
    display: flex;
    justify-content: space-between;
    padding-left: 0;
  }
  img.ks-logo {
    width: 10rem;
    margin: 1rem;
  }
}
