.blog-card {
    padding: 1em;
    margin-bottom: 1em;
    border: 1px solid #333333;
    max-height: 15rem;
}

.blog-card__footer {
    display: flex;
    justify-content: space-between;
}

.tag {
    margin-right: 1em;
}