.covid-chart {
  height: 60vh;
  width: 60vw;
  margin-bottom: 1rem;
}

@media (max-width: 768px) {
  .covid-chart {
    width: 90vw;
  }
}

@media (prefers-color-scheme: dark) {
  .covid-chart {
    div {
      div {
        div {
          div[style] {
            color: #333333 !important;
          }
        }
      }
    }
    text {
      fill: white !important;
    }
  }
}
