.active:before {
  content: '{';
  padding-right: 1rem;
}

.active:after {
  content: '}';
  padding-left: 1rem;
}

.navLi {
  border-bottom: 3px solid transparent;
  a {
    text-decoration: none;
    padding: 1rem;
    line-height: 3rem;
  }
  &:hover {
    border-bottom: 3px solid #28587B;
  }
}

@media(max-width: 500px){
  .navLi {
    a { 
      padding-top: 0;
      padding-bottom: 0;
    }
    border-bottom: none;
  }
  .navLi:hover {
    border-bottom: none;
  }
}

@media(prefers-color-scheme: dark) {
  .navLi{
    &:hover {
      border-bottom: 3px solid #86D6C2;
    }
  }
}