.flex {
    display: flex;
}

.space-between {
    justify-content: space-between;
}

@media(min-width: 800px) {
    .row {
        display: flex;
        align-items: flex-start;
        img {
            width: 30%;
        }
    }
    
    .row:nth-of-type(odd) {
        img {
            margin-right: 1rem;
        }
    }
    
    .row:nth-of-type(even) {
        flex-direction: row-reverse;
        img {
            margin-left: 1rem;
        }
    }
}

