:root {
  background-color: #ebf6f5;
  color: #213547;
  font-family: 'Inter', 'Avenir', 'Helvetica', 'Arial', sans-serif;
  text-align: center;
}

body {
  margin: 0.5rem;
}

.visually-hidden:not(:focus):not(:active) {
  clip: rect(0 0 0 0);
  clip-path: inset(50%);
  height: 1px;
  overflow: hidden;
  position: absolute;
  white-space: nowrap;
  width: 1px;
}

@media (min-width: 1000px) {
  small {
    display: block;
    margin: 0 auto;
    width: 50vw;
  }
}
