main {
  margin-top: 1.5rem;
  margin-bottom: 1.5rem;
  margin: 0 auto;
  max-width: 60vw;
  padding: 0 1.0875rem 1.45rem;
}
body {
  font-family: 'Roboto', Helvetica, sans-serif;
  background-color: #FAFAFA;
  color: #333333;
}
img {
  width: 30rem;
  max-width: 30vw;
}

.visually-hidden {
    left:-999px;
    position:absolute;
    top:auto;
    width:1px;
    height:1px;
    overflow:hidden;
    z-index:-999;
}
a.visually-hidden:focus, a.visually-hidden:active {
    color: #fff;
    background-color:#000;
    left: 0;
    top: auto;
    width: 30vw;
    height: 5vh;
    margin: 10px;
    padding: 5px;
    border-radius: 15px;
    border: 4px solid yellow;
    text-align: center;
    font-size: 1.2em;
    z-index:999;
}